<!DOCTYPE html>
<html lang="en">
  <head>

    {{>headerlinks}}

  </head>
  <body>
    {{> navbar}}

    <!-- main-header -->

    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12 main_header_right align-content-center">
              <figure>
                <img
                  src="images/65afc452f9d1d9c0bee92d705b8ef72d-removebg-preview.png"
                  alt class="img-fluid" />
              </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to Weather app</p>
              <h1>
                I am a <span class="text_clr">Mern stack developer</span>
                youtuber and a freelancer
              </h1>
              <a href="/"><button>about me</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->

    {{> footer}}
  </body>
</html>
